In [1]:
# import modules
import pandas as pd 
from nltk.corpus import stopwords
from textblob import TextBlob
from nltk.stem import PorterStemmer
from textblob import Word

Dataset Link= https://www.kaggle.com/arkhoshghalb/twitter-sentiment-analysis-hatred-speech

In [2]:
# read the dataset
df_train=pd.read_csv(r'C:\Users\prajw\Downloads\nlpdataset\train.csv')
df_test=pd.read_csv(r'C:\Users\prajw\Downloads\nlpdataset\test.csv')

In [3]:
df_train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [4]:
df_test.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

In [6]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17197 entries, 0 to 17196
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      17197 non-null  int64
 1   tweet   17197 non-null  object
dtypes: int64(1), object(1)
memory usage: 268.8+ KB

In [7]:
# count the number of words
def word_count(df):
    df['word_count']=df['tweet'].apply(lambda x:len(str(x).split(" ")))
    print(df[['tweet','word_count']].head())

In [8]:
word_count(df_test)

                                               tweet  word_count
0  #studiolife #aislife #requires #passion #dedic...          12
1   @user #white #supremacists want everyone to s...          20
2  safe ways to heal your #acne!!    #altwaystohe...          15
3  is the hp and the cursed child book up for res...          24
4    3rd #bihday to my amazing, hilarious #nephew...          18

In [9]:
word_count(df_test)

                                               tweet  word_count
0  #studiolife #aislife #requires #passion #dedic...          12
1   @user #white #supremacists want everyone to s...          20
2  safe ways to heal your #acne!!    #altwaystohe...          15
3  is the hp and the cursed child book up for res...          24
4    3rd #bihday to my amazing, hilarious #nephew...          18

In [10]:
# count the number of characters 
def character_count(df):
    df['character_count']=df['tweet'].str.len()
    print(df[['tweet','character_count']].head())

In [11]:
character_count(df_train)

                                               tweet  character_count
0   @user when a father is dysfunctional and is s...              102
1  @user @user thanks for #lyft credit i can't us...              122
2                                bihday your majesty               21
3  #model   i love u take with u all the time in ...               86
4             factsguide: society now    #motivation               39

In [12]:
character_count(df_test)

                                               tweet  character_count
0  #studiolife #aislife #requires #passion #dedic...               90
1   @user #white #supremacists want everyone to s...              101
2  safe ways to heal your #acne!!    #altwaystohe...               71
3  is the hp and the cursed child book up for res...              142
4    3rd #bihday to my amazing, hilarious #nephew...               93

In [13]:
# average word length
def average_word(sentence):
    words = sentence.split()
    return sum((len(word) for word in words))/len(words)
def average_word_length(df):
    df['average_word_length']=df['tweet'].apply(lambda x:average_word(x))
    print(df[['tweet','average_word_length']].head())

In [14]:
average_word_length(df_train)

                                               tweet  average_word_length
0   @user when a father is dysfunctional and is s...             4.555556
1  @user @user thanks for #lyft credit i can't us...             5.315789
2                                bihday your majesty             5.666667
3  #model   i love u take with u all the time in ...             4.928571
4             factsguide: society now    #motivation             8.000000

In [15]:
average_word_length(df_test)

                                               tweet  average_word_length
0  #studiolife #aislife #requires #passion #dedic...             8.777778
1   @user #white #supremacists want everyone to s...             5.125000
2  safe ways to heal your #acne!!    #altwaystohe...             6.333333
3  is the hp and the cursed child book up for res...             5.409091
4    3rd #bihday to my amazing, hilarious #nephew...             5.066667

In [16]:
# count the stopwords
stop = stopwords.words('english')
def stop_word(df):
    df['stopwords_count']=df['tweet'].apply(lambda x : len([x for x in x.split() if x in stop]))
    print(df[['tweet','stopwords_count']].head())

In [17]:
stop_word(df_train)

                                               tweet  stopwords_count
0   @user when a father is dysfunctional and is s...               10
1  @user @user thanks for #lyft credit i can't us...                5
2                                bihday your majesty                1
3  #model   i love u take with u all the time in ...                5
4             factsguide: society now    #motivation                1

In [18]:
stop_word(df_test)

                                               tweet  stopwords_count
0  #studiolife #aislife #requires #passion #dedic...                1
1   @user #white #supremacists want everyone to s...                4
2  safe ways to heal your #acne!!    #altwaystohe...                2
3  is the hp and the cursed child book up for res...                8
4    3rd #bihday to my amazing, hilarious #nephew...                4

In [19]:
# count no of special charcters like #
def hashtags(df):
    df['hashtags']=df['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
    print(df[['tweet','hashtags']].head())

In [20]:
hashtags(df_train)

                                               tweet  hashtags
0   @user when a father is dysfunctional and is s...         1
1  @user @user thanks for #lyft credit i can't us...         3
2                                bihday your majesty         0
3  #model   i love u take with u all the time in ...         1
4             factsguide: society now    #motivation         1

In [21]:
hashtags(df_test)

                                               tweet  hashtags
0  #studiolife #aislife #requires #passion #dedic...         7
1   @user #white #supremacists want everyone to s...         4
2  safe ways to heal your #acne!!    #altwaystohe...         4
3  is the hp and the cursed child book up for res...         3
4    3rd #bihday to my amazing, hilarious #nephew...         2

In [22]:
# count the no of digits 
def digits(df):
    df['count_digits']=df['tweet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
    print(df[['tweet','count_digits']].head())

In [23]:
digits(df_train)

                                               tweet  count_digits
0   @user when a father is dysfunctional and is s...             0
1  @user @user thanks for #lyft credit i can't us...             0
2                                bihday your majesty             0
3  #model   i love u take with u all the time in ...             0
4             factsguide: society now    #motivation             0

In [24]:
digits(df_test)

                                               tweet  count_digits
0  #studiolife #aislife #requires #passion #dedic...             0
1   @user #white #supremacists want everyone to s...             0
2  safe ways to heal your #acne!!    #altwaystohe...             0
3  is the hp and the cursed child book up for res...             0
4    3rd #bihday to my amazing, hilarious #nephew...             0

In [25]:
# to count the no of uppercases
def upper_case(df):
    df['count_uppercase']=df['tweet'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
    print(df[['tweet','count_uppercase']].head())

In [26]:
upper_case(df_train)

                                               tweet  count_uppercase
0   @user when a father is dysfunctional and is s...                0
1  @user @user thanks for #lyft credit i can't us...                0
2                                bihday your majesty                0
3  #model   i love u take with u all the time in ...                0
4             factsguide: society now    #motivation                0

In [27]:
upper_case(df_test)

                                               tweet  count_uppercase
0  #studiolife #aislife #requires #passion #dedic...                0
1   @user #white #supremacists want everyone to s...                0
2  safe ways to heal your #acne!!    #altwaystohe...                0
3  is the hp and the cursed child book up for res...                0
4    3rd #bihday to my amazing, hilarious #nephew...                0

In [28]:
# convert tweet into lower case
def lower_case(df):
    df['tweet'] = df['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
    print(df['tweet'].head())

In [29]:
lower_case(df_train)

0    @user when a father is dysfunctional and is so...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model i love u take with u all the time in ur...
4                  factsguide: society now #motivation
Name: tweet, dtype: object

In [30]:
lower_case(df_test)

0    #studiolife #aislife #requires #passion #dedic...
1    @user #white #supremacists want everyone to se...
2    safe ways to heal your #acne!! #altwaystoheal ...
3    is the hp and the cursed child book up for res...
4    3rd #bihday to my amazing, hilarious #nephew e...
Name: tweet, dtype: object

In [31]:
# to remove punctuation from tweet
def punctuation_removal(df):
#     ^ : works like NOT operator
#     \w : Returns a match where the string contains any word characters 
#     \s: for whitespace
    df['tweet']=df['tweet'].str.replace('[^\w\s]','')
    print(df['tweet'].head())

In [32]:
punctuation_removal(df_train)

0    user when a father is dysfunctional and is so ...
1    user user thanks for lyft credit i cant use ca...
2                                  bihday your majesty
3    model i love u take with u all the time in urð...
4                    factsguide society now motivation
Name: tweet, dtype: object

In [33]:
punctuation_removal(df_test)

0    studiolife aislife requires passion dedication...
1    user white supremacists want everyone to see t...
2    safe ways to heal your acne altwaystoheal heal...
3    is the hp and the cursed child book up for res...
4    3rd bihday to my amazing hilarious nephew eli ...
Name: tweet, dtype: object

In [34]:
# removal of stopwords 
def remove_stopwords(df):
    df['tweet']=df['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
    print(df['tweet'].head())

In [35]:
remove_stopwords(df_train)

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause do...
2                                       bihday majesty
3                model love u take u time urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [36]:
remove_stopwords(df_test)

0    studiolife aislife requires passion dedication...
1    user white supremacists want everyone see new ...
2    safe ways heal acne altwaystoheal healthy healing
3    hp cursed child book reservations already yes ...
4    3rd bihday amazing hilarious nephew eli ahmir ...
Name: tweet, dtype: object

In [37]:
# check for frequent words 
frequent = pd.Series(' '.join(df_train['tweet']).split()).value_counts()[:10]
frequent

user     17473
love      2647
ð         2511
day       2199
â         1797
happy     1663
amp       1582
im        1139
u         1136
time      1110
dtype: int64

In [38]:
# removal of frequent words 
frequent=list(frequent.index)
def remove_frequent_words(df):
    df['tweet']=df['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in frequent))
    print(df['tweet'].head())

In [39]:
remove_frequent_words(df_train)

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [40]:
remove_frequent_words(df_test)

0    studiolife aislife requires passion dedication...
1    white supremacists want everyone see new birds...
2    safe ways heal acne altwaystoheal healthy healing
3    hp cursed child book reservations already yes ...
4    3rd bihday amazing hilarious nephew eli ahmir ...
Name: tweet, dtype: object

In [41]:
# removl of rare words from tweet
rare=pd.Series(' '.join(df_train['tweet']).split()).value_counts()[-10:]
rare

idonthaveasunburn    1
cometovisitus        1
patronizing          1
violins              1
h1                   1
texaskat4trump       1
marketwatch          1
ðµð¼ðð               1
iphonepic            1
loverizevscoâ        1
dtype: int64

In [42]:
rare=rare.index
def remove_rare_words(df):
    df['tweet']=df['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in rare))
    print(df['tweet'].head())

In [43]:
remove_rare_words(df_train)

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [44]:
remove_rare_words(df_test)

0    studiolife aislife requires passion dedication...
1    white supremacists want everyone see new birds...
2    safe ways heal acne altwaystoheal healthy healing
3    hp cursed child book reservations already yes ...
4    3rd bihday amazing hilarious nephew eli ahmir ...
Name: tweet, dtype: object

In [45]:
# checking for spell corrections 
def spell_corrections(df):
    return df['tweet'][:5].apply(lambda x: str(TextBlob(x).correct()))

In [46]:
spell_corrections(df_train)

0    father dysfunctional selfish drags kiss dysfun...
1    thanks left credit can use cause dont offer wh...
2                                       midday majesty
3                               model take or ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [47]:
spell_corrections(df_test)

0    studiolife dislike requires passion education ...
1    white supremacists want everyone see new birds...
2    safe ways heal acne altwaystoheal healthy healing
3    he cursed child book reservations already yes ...
4    rd midday amazing hilarious nephew epi their u...
Name: tweet, dtype: object

In [48]:
# tokeniztion
def token(df):
    return TextBlob(df['tweet'][1]).words

In [49]:
token(df_train)

WordList(['thanks', 'lyft', 'credit', 'cant', 'use', 'cause', 'dont', 'offer', 'wheelchair', 'vans', 'pdx', 'disapointed', 'getthanked'])

In [50]:
token(df_test)

WordList(['white', 'supremacists', 'want', 'everyone', 'see', 'new', 'birdsâ', 'movie', 'hereâs'])

In [51]:
# steamming
st= PorterStemmer()
def steamming(df):
    return df['tweet'][0:5].apply(lambda x: " ".join(st.stem(word) for word in x.split()))

In [52]:
steamming(df_train)

0        father dysfunct selfish drag kid dysfunct run
1    thank lyft credit cant use caus dont offer whe...
2                                       bihday majesti
3                              model take urð ðððð ððð
4                              factsguid societi motiv
Name: tweet, dtype: object

In [53]:
steamming(df_test)

0    studiolif aislif requir passion dedic willpow ...
1    white supremacist want everyon see new birdsâ ...
2            safe way heal acn altwaystoh healthi heal
3    hp curs child book reserv alreadi ye ððð harry...
4    3rd bihday amaz hilari nephew eli ahmir uncl d...
Name: tweet, dtype: object

In [54]:
# lemmatization
def lemmatization(df):
    df['tweet']=df['tweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
    print(df['tweet'].head())

In [55]:
lemmatization(df_train)

0    father dysfunctional selfish drag kid dysfunct...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [56]:
lemmatization(df_test)

0    studiolife aislife requires passion dedication...
1    white supremacist want everyone see new birdsâ...
2     safe way heal acne altwaystoheal healthy healing
3    hp cursed child book reservation already yes ð...
4    3rd bihday amazing hilarious nephew eli ahmir ...
Name: tweet, dtype: object

In [57]:
# N_grams to find combination of words
def combination_words(df):
    return (TextBlob(df['tweet'][0]).ngrams(2))

In [58]:
combination_words(df_train)

[WordList(['father', 'dysfunctional']),
 WordList(['dysfunctional', 'selfish']),
 WordList(['selfish', 'drag']),
 WordList(['drag', 'kid']),
 WordList(['kid', 'dysfunction']),
 WordList(['dysfunction', 'run'])]

In [59]:
combination_words(df_test)

[WordList(['studiolife', 'aislife']),
 WordList(['aislife', 'requires']),
 WordList(['requires', 'passion']),
 WordList(['passion', 'dedication']),
 WordList(['dedication', 'willpower']),
 WordList(['willpower', 'find']),
 WordList(['find', 'newmaterialsâ'])]